.venv/
venv/
ENV/
env/
*.env


__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.installed.cfg
*.egg


.coverage
.coverage.*
htmlcov/
coverage.xml

.idea/
.vscode/
*.swp
*.swo

.DS_Store
Thumbs.db

task_platform/tasks.json
*.log
shell.log